@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --foreground: oklch(0.2038 0.0067 258.37);
  --ui-primary: #FFD900;
  --ui-secondary: #f97276;
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: oklch(from var(--ui-primary) 0.65 c 25);

  --ui-text: var(--foreground);
  --ui-text-dimmed: oklch(from var(--ui-text) calc(l + 0.2) c h);
  --ui-text-muted: oklch(from var(--ui-text) calc(l + 0.1) c h);
  --ui-text-toned: oklch(from var(--ui-text) calc(l + 0.04) c h);
  --ui-text-highlighted: oklch(from var(--ui-text) calc(l - 0.15) c h);
  --ui-text-inverted: var(--foreground);


  --ui-bg: oklch(0.9888 0.0225 98.63);
  --ui-bg-muted: oklch(0.9888 0.02 98.63);
  --ui-bg-elevated: oklch(0.9556 0.088157 98.7647);
  --ui-bg-accented: oklch(0.9556 0.03 98.7647);
  --ui-bg-inverted: var(--foreground);

  --ui-border: var(--ui-bg-accented);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-bg-inverted);



  /* Discord Actvitiy safe area  */
  --sait: var(--discord-safe-area-inset-top, env(safe-area-inset-top));
  --saib: var(--discord-safe-area-inset-bottom, env(safe-area-inset-bottom));
  --sail: var(--discord-safe-area-inset-left, env(safe-area-inset-left));
  --sair: var(--discord-safe-area-inset-right, env(safe-area-inset-right));

}

@theme {
  --font-sans: "Switzer", sans-serif;
}

@layer base {
  body {
    /* Discord Safe area */
    padding-left: var(--sail);
    padding-right: var(--sair);
    padding-top: var(--sait);
    padding-bottom: var(--saib);
  }



}

.font-outfit {
  font-family: "Outfit", sans-serif;
}
