:root {
  --grid-border-color: var(--ui-text-toned);
  --grid-border-radius: 8px;
  --grid-border-thickness: 4px;
  --grid-background-color: var(--ui-bg-accented);
  --grid-padding: 4px;

  --region-border-color: var(--grid-background-color);
  --region-border-thickness: 4px;

  --cell-border-color: var(--region-border-color);
  --cell-border-thickness: 1px;
  --cell-border-radius: 4px;

  --cell-background-color: white;

  --cell-size-mobile: 40px;
  --cell-size-tablet: 40px;
  --cell-size-desktop: 48px;

  --cell-selected-background: var(--ui-primary);
  --cell-given-background: oklch(from var(--cell-selected-background) calc(l + 1) calc(c - 0.1) h);
  --cell-same-background: oklch(from var(--cell-selected-background) calc(l + 0.05) calc(c - 0.02) h);
  /* --cell-same-background: var(--cell-selected-background); */
  --cell-highlight-background: oklch(from var(--cell-selected-background) l c h / 7%);

  /* --cell-error-background: var(--ui-error); */
  --cell-error-foreground: var(--ui-error)
}
