:root {

  --grid-elevation: 6px;
  --grid-border-color: var(--ui-text-toned);
  --grid-border-radius: 8px;
  --grid-border-thickness: 4px;
  --grid-background-color: var(--ui-bg-accented);
  --grid-padding: 4px;

  --region-gap: 4px;

  --cell-border-radius: 8px;
  --cell-gap: 2px;

  --cell-background-color: white;

  --cell-selected-background: var(--ui-primary);
  --cell-given-background: oklch(from var(--cell-selected-background) calc(l + 1) calc(c - 0.1) h);
  --cell-same-background: oklch(from var(--cell-selected-background) calc(l + 0.05) calc(c - 0.02) h);
  /* --cell-same-background: var(--cell-selected-background); */
  --cell-highlight-background: oklch(from var(--cell-selected-background) l c h / 7%);

  /* --cell-error-background: var(--ui-error); */
  --cell-error-foreground: var(--ui-error);
}

@media (min-width:48rem) {

  /* md */
  :root {
    --grid-border-thickness: 6px;
    --grid-padding: 8px;
    --grid-elevation: 10px;
    --grid-border-radius: 16px;

    --region-gap: 8px;

    --cell-border-radius: 10px;
    --cell-gap: 4px;
  }
}
